.Notifications {
    border: 2px #cf4550;
    border-style: dashed;
    padding: 10px;
}

.Notifications li[data-priority="default"] {
    color: #180c5f;
}

.Notifications li[data-priority="urgent"] {
    color: red;
}